<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <form method="POST" action="" name="frmcal">
        {% csrf_token %}
        <table align="center" cellpadding="10">
            <tr>
                <th colspan="2"><font size="5">Calculator</font></th>
            </tr>
            <tr>
                <td>Number One :</td>
                <td><input type="text" name="txtnumone" placeholder="Enter a number" required></td>
            </tr>
            <tr>
                <td>Number Two :</td>
                <td><input type="text" name="txtnumtwo" placeholder="Enter a number" required></td>
            </tr>
            <tr>
                <td colspan="2">
                    <center>
                        <input type="submit" name="btnsubmit" value="+">
                        <input type="submit" name="btnsubmit" value="-">
                        <input type="submit" name="btnsubmit" value="*">
                        <input type="submit" name="btnsubmit" value="/">
                    </center>
                </td>
            </tr>
            <tr>
                <td>Result</td>
                <td>{{res}}</td>
            </tr>
        </table>
    </form>
</body>
</html>