<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table align="center" cellpadding="10">
            <tr>
                <th colspan="2"><font size="5">Employee</font></th>
            </tr>
            <tr>
                <th>Name</th>
                <td><input type="text" name="txtname" placeholder="Enter employee name" required value="{{editdata.emp_name}}"></td>
            </tr>
            <tr>
                <th>Contact</th>
                <td><input type="text" name="txtcont" placeholder="Enter employee contact" required value="{{editdata.emp_contact}}"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="text" name="txtemail" placeholder="Enter employee email" required value="{{editdata.emp_email}}"></td>
            </tr>
            <tr>
                <th>Department</th>
                <td>
                    <select name="sel_dept" id="sel_dept">
                        <option value="">......Select......</option>
                        {% for i in deptdata %}
                        <option {% if i.id == editdata.dept_id %} selected {% endif %} value="{{i.id}}">{{i.dept_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>
                    <select name="sel_desi" id="sel_desi">
                        <option value="">......Select......</option>
                        {% for i in desidata %}
                        <option {% if i.id == editdata.desi_id %} selected {% endif %} value="{{i.id}}">{{i.desi_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Basic Salary</th>
                <td><input type="text" name="txtbs" placeholder="Enter employee basic salary" required value="{{editdata.emp_basal}}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <center>
                        <input type="submit" name="Submit" value="Submit">
                        <input type="reset" name="Cancel" value="Cancel">
                    </center>
                </td>
            </tr>
        </table>
    </form>
    <br>
    <table align="center" cellpadding="10" border="1">
        <tr>
            <th>Sl.No</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Basic Salary</th>
            <th>Action</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.emp_name}}</td>
            <td>{{i.emp_contact}}</td>
            <td>{{i.emp_email}}</td>
            <td>{{i.dept.dept_name}}</td>
            <td>{{i.desi.desi_name}}</td>
            <td>{{i.emp_basal}}</td>
            <td>
                <a href="{% url 'WebBasics:empDelete' i.id %}">Delete</a> |
                <a href="{% url 'WebBasics:empUpdate' i.id %}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>