{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="{% static 'User/images/fevicon.png' %}" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'User/css/bootstrap.min.css' %}" />
    <!-- site css -->
    <link rel="stylesheet" href="{% static 'User/style.css' %}" />
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'User/css/responsive.css' %}" />
    <!-- color css -->
    <link rel="stylesheet" href="{% static 'User/css/colors.css' %}" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="{% static 'User/css/bootstrap-select.css' %}" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="{% static 'User/css/perfect-scrollbar.css' %}" />
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'User/css/custom.css' %}" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_2">
                    <ul class="list-unstyled components">
                        <li class="active">
                            <a href="{% url 'User:homepage' %}"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
                            
                        </li>
                        <li>
                            <a href="#widgets" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clock-o orange_color"></i> <span>Products</span></a>
                            <ul class="collapse list-unstyled" id="widgets">
                                <li>
                                    <a href="{% url 'User:productplantSelect' %}">> <span>Plants View</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'User:productpotSelect' %}">> <span>Planters View</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>Wishlist</span></a>
                            <ul class="collapse list-unstyled" id="element">
                                <li><a href="{% url 'User:wishlistplantSelect' %}">> <span>Plants Wishlist</span></a></li>
                                <li><a href="{% url 'User:wishlistpotSelect' %}">> <span>Planters Wishlist</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#tables" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-table purple_color2"></i> <span>Cart</span></a>
                            <ul class="collapse list-unstyled" id="tables">
                                <li><a href="{% url 'User:mycartSelect' %}">> <span>Plants Cart</span></a></li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Orders</span></a>
                            <ul class="collapse list-unstyled" id="additional_page">
                                <li>
                                    <a href="{% url 'User:productplantorderSelect' %}">> <span>Plants Orders</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'User:productorderSelect' %}">> <span>Planters Orders</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Complaints</span></a>
                            <ul class="collapse list-unstyled" id="apps">
                                <li><a href="{% url 'User:complaintInsert' %}">> <span>Post Complaint</span></a></li>
                                <li><a href="{% url 'User:complaintSelect' %}">> <span>Complaint List</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#contact" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-paper-plane red_color"></i> <span>Account</span></a>
                            <ul class="collapse list-unstyled" id="contact">
                                <li><a href="{% url 'User:myprofile' %}">> <span>My Profile</span></a></li>
                            </ul>
                        </li>
                        <!--
                        <li>
                            <a href="#price" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-briefcase blue1_color"></i> <span>Feedback</span></a>
                            <ul class="collapse list-unstyled" id="price">
                                <li><a href="">> <span>Feedback List</span></a></li>
                            </ul>
                        </li>                         
                        
                        <li><a href="map.html"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>
                        <li>
                            <a href="#charts" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-bar-chart-o green_color"></i> <span>Account</span></a>
                            <ul class="collapse list-unstyled" id="charts">
                                <li><a href="">> <span>My Profile</span></a></li>
                            </ul>
                        </li>
                    -->
                        <li><a href="{% url 'User:logout_view' %}"><i class="fa fa-cog yellow_color"></i> <span>Logout</span></a></li>
                    </ul>
                </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
            <!-- topbar -->
            <div class="topbar">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                            <img class="img-responsive" src="{% static 'User/images/logo/logo1.png' %}" alt="#" />
                        </div>
                    </div>
                </nav>
            </div>
            <!-- end topbar -->
            <!-- dashboard inner -->
            <div class="midde_cont">
                <div class="container-fluid">
                    <div class="row column_title">
                        <div class="col-md-12">
                            <div class="page_title">
                                <h1 style="text-align: center;">My Profile</h1>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="white_shd full margin_bottom_30">
                                       <div class="table_section padding_infor_info">
                                        <div class="container-fluid d-bg-image">
                                            <div class="d-profile">
                                                <table align="center" style="color: black;" cellpadding="10px" class="d-card" width="100%">
                                                    <tr>
                                                        <td rowspan="9" align="center"><img src="{{data.user_photo.url}}" alt="" width="250" height="250"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Name</th>
                                                        <td>{{data.user_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Contact</th>
                                                        <td>{{data.user_contact}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Email</th>
                                                        <td>{{data.user_email}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Gender</th>
                                                        <td>{{data.user_gender}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Address</th>
                                                        <td>{{data.user_address}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Place</th>
                                                        <td>{{data.place.place_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>District</th>
                                                        <td>{{data.place.district.district_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a class="d-card-button" href="{% url 'User:editprofile' %}">Edit Profile</a>
                                                        </td>
                                                        <td>
                                                            <a class="d-card-button" href="{% url 'User:changepassword' %}">Change password</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                       </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- footer -->
                <div class="container-fluid">
                    <div class="footer">
                        <p>Copyright © 2018 Designed by html.design. All rights reserved.<br><br>
                        </p>
                    </div>
                </div>
            </div>
            <!-- end dashboard inner -->
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="{% static 'User/js/jquery.min.js' %}"></script>
    <script src="{% static 'User/js/popper.min.js' %}"></script>
    <script src="{% static 'User/js/bootstrap.min.js' %}"></script>
    <!-- wow animation -->
    <script src="{% static 'User/js/animate.js' %}"></script>
    <!-- select country -->
    <script src="{% static 'User/js/bootstrap-select.js' %}"></script>
    <!-- owl carousel -->
    <script src="{% static 'User/js/owl.carousel.js' %}"></script> 
    <!-- chart js -->
    <script src="{% static 'User/js/Chart.min.js' %}"></script>
    <script src="{% static 'User/js/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'User/js/utils.js' %}"></script>
    <script src="{% static 'User/js/analyser.js' %}"></script>
    <!-- nice scrollbar -->
    <script src="{% static 'User/js/perfect-scrollbar.min.js' %}"></script>
    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <!-- custom js -->
    <script src="{% static 'User/js/custom.js' %}"></script>
    <script src="{% static 'User/js/chart_custom_style1.js' %}"></script>

</body>
</html>