<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Positions</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table align="center" cellpadding="10">
            <tr>
                <th colspan="2"><font size="5">Players Positions</font></th>
            </tr>
            <tr>
                <th>Positions</th>
                <td><input type="text" name="txtpos" id="" required placeholder="Enter players positions"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <center>
                        <input type="submit" name="txtsubmit" value="Submit">
                        <input type="reset" name="txtcancel" value="Cancel">
                    </center>
                </td>
            </tr>
        </table>
    </form>
    <br>
    <table border="1" align="center" cellpadding="10" width="50%"  style="text-align: center;">
        <tr>
            <th>Sl.No</th>
            <th>Position Name</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.position_name}}</td> 
        </tr>
        {% endfor %}
    </table>
</body>
</html>